

:root {

    --favblue: #163373;
    --favgold: #FFD700;
    --fabwhite: #fff;
    --success: #163373;

}

.export-block {
    display: inline-block;
}

img.icon-red-csv-export {
    width: 43px;
    cursor: pointer;
}

.errorText {
    color: red;
}

td.table-error {
    background: radial-gradient(red, transparent);
}

.searchTable {
    float: right;

}

.card-stats .card-body .numbers {
    text-align: right;
    font-size: 20px;
}

.isLoading {
    margin: 0 auto;
}

td.table-name {
    width: 34em;
}

td.table-quantity {
    width: 12em;
}

/*.nk-sidebar .metismenu a{
border-left: 5px solid transparent !important ; 
}
*/
.router-link-exact-active {

    /*border-left: 5px solid #7571f9 !important ;*/
}


.bg-primary-custom {
    background: #ef8157 !important;
}

.text-white {
    color: #fff;
}

.text-primary-custom {
    color: #ef8157;
}

img.card-img-top.image {
    border-radius: 50%;
    height: 225px;
}

/*
.form-group input[type=file] {
     opacity: unset; 
     position: relative; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}*/
img.company_logo_img {

    width: 100px;
    height: 100px;

}

img.product_logo_img {
    width: 240px;

    cursor: pointer;

    height: 250px;

    display: block;

    box-shadow: #51cbce 2px 6px 11px -2px;

    border-radius: 50%;

    margin: 0 auto;

}

.errorDivEmptyData {
    padding: 10px;
}

.page-item.active .page-link{
    z-index: 3;

    background: var(--favblue) !important;
    color: var(--favgold) !important;
}
.page-link {
    /* color: var(--favgold) !important; */
    color: #000 !important;

}

span.custom_icon_table {
    font-size: 32px;
}

button.btn.custom_btn_table {
    margin-right: 5px;
    padding: 5px;
}

.btnBody.router-link-active {
    color: #ef8157 !important;
    background: #ffffff !important;
}

.cursor {
    cursor: pointer !important;
}

.cursor:hover {
    color: #ef8157;
}

.sidebar,
.off-canvas-sidebar {

    background: var(--favblue);

}

.sidebar .logo,
.off-canvas-sidebar .logo {
    bottom: 80px !important; 
    background: var(--favblue);

    height: 100%;
}

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
    background: var(--favblue);

}

.sidebar li a {
    color:var(--favgold) !important;
    opacity: 1!important;
}

.nav i {
    color:var(--favgold) !important;


}

.sidebar[data-color="black"]:after,
.off-canvas-sidebar[data-color="black"]:after {
    background: var(--favblue);
}

.router-link-active {
    color:var(--favgold) !important;

    background: #ffd7002e !important;
    /* border-bottom: 1px solid #ffd700; */
    /* opacity: .1 !important; */
}

.router-link-active i {
    color:var(--favgold) !important;

}
.router-link-exact-active{
    color:var(--favgold) !important;

}
.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text{
    color:var(--favgold) !important;

   
}
.sidebar .logo:after, .off-canvas-sidebar .logo:after{
    background: none !important;
}

body{
    font-size: 12px!important;
    line-height: 1 !important;
  }

  .btn-primary {
    background: var(--favblue);

    color:var(--favgold) !important;

}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover{
    background: var(--favblue) !important;

    color:var(--favgold) !important;

}
.btn-primary:hover{
    background: var(--favblue) !important;

    color:var(--favgold) !important;

}

.btn-success{
    background: var(--favblue) !important;

    color:var(--favgold) !important;

}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:focus,
.btn-success.active:hover{
    background: var(--favblue) !important;

    color:var(--favgold) !important;

}

.btn-danger {
    background-color: red !important;
    color: #FFFFFF  !important;
    margin: 0px !important;
}

  
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger:active,
  .btn-danger.active,
  .btn-danger:active:focus,
  .btn-danger:active:hover,
  .btn-danger.active:focus,
  .btn-danger.active:hover,
  .show>.btn-danger.dropdown-toggle,
  .show>.btn-danger.dropdown-toggle:focus,
  .show>.btn-danger.dropdown-toggle:hover {
    background-color: red !important;
    color: #FFFFFF  !important;
    margin: 0px !important;
    box-shadow: none !important;
  }

input.checkbox {width: 25px;height: 20px;}
.checkboxlabel{
    display: flex;
    /* justify-content: space-between; */
}
a.fc-col-header-cell-cushion{
    color: #163373;
}
a.fc-daygrid-day-number{
    color: #163373;
}
a.fc-event{
  padding: 2px;
  font-size: 15px;
}

a.fc-daygrid-dot-event .fc-daygrid-event-dot{
    color: #000!important;
  }
  a.fc-daygrid-dot-event .fc-event-time{
    color: #000!important;
    font-weight: bold;
  }
  a.fc-daygrid-dot-event .fc-event-title{
    color: #000!important;
    font-weight: normal;
  }
  
  .fc .fc-button-primary{
    background: var(--favblue) !important;
    color: var(--favgold) !important;
    text-transform: capitalize;
  }
 
.text-primary{
    color: #000!important;
}
.btn-primary:focus{
    background: var(--favblue) !important;
    color: var(--favgold) !important;
}
/* #app .card button {
    background: #163373;
    color: #FFD700 !important;
    border: 0;
} */


.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background: var(--favblue) !important;
    color: var(--favgold) !important;
    font-size: 1.0625em;
    border-left-color: var(--favblue) !important;
    border-right-color: var(--favblue) !important;
}